@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
:root{
  --primaryColor: #5fb7ea;
  --primaryRGBA: rgba(0,0,0,0.3);
  --mainGrey: #fafafa;
  --daryGrey: #5f5efe;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.3rem;
} 
body{
  font-family: 'Open Sans', sans-serif;
  background: var(--mainGrey) !important;
  color: var(--mainBlack);
}
.text-main{
  color: var(--primaryColor);
}
.text-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}
.main-link{
  padding: 0.5rem 1rem;
  background: var(--primaryColor);
  color: var(--mainWhite);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  outline: 2px solid var(--primaryColor);
  outline-offset: 4px;
  transition: var(--mainTransition);
  border: 0px;
}
.main-link:hover{
  text-decoration: none;
  background: var(--daryGrey);
  color: var(--mainWhite);
  outline-color: var(--daryGrey);
}